* {
    box-sizing: border-box;
}

.suggestion {
    padding-bottom: 20px;
}

.suggestion:hover {
    cursor: pointer;
}

.vid_title:hover {
    color: darkblue;
}

.vid_container {
  margin: 20px;
}

.suggest_container {
    margin: 20px;
    /* border-radius: 5px;
    border-width: 2px; */
}

.vid_img {
    max-width: 170px;
    max-height: 95px;;
}

.header_rec {
    border-bottom: solid lightgray 0.5px;
    margin-bottom: 15px;
    text-align: center;
    width: 400px;
}

.suggestions {
    max-height: 600px;
    overflow: scroll;
}

.description {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 200px;
    overflow: scroll;
    border-radius: 5px;
    border-width: 1px;
}