* {
    box-sizing: border-box;
}
.link {
    padding: 10px;
    color: darkblue;
    font-size: 1rem;
}

.navbar {
    padding: 20px;
    border-bottom: solid lightgrey .5px;
}

.logo {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: bold;
}

.suggestions {
    max-height: 600px;
    overflow: scroll;
}