* {
    box-sizing: border-box;
}
.link {
    color: darkblue;
    font-size: 1rem;
}

.navbar {
    padding: 20px;
    border-bottom: solid lightgrey .5px;
    background-color: #e3f2fd;
}

.logo {
    color: darkblue;
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 200%;
}

.searchbar {
    margin-left: 26rem;
}

.form-control {
    align-self: flex-end;
    min-width: 400px;
}
